[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-theme-reimu"]
	path = themes/hugo-theme-reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
